{% extends 'auth_base.html' %}
{% load i18n %}
{% block authpage %}
    <div class="container">
        <!--<form class="form-signin" name="LoginForm" action="/login/" method="post">-->
        <form class="form-signin" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        
            <h2 class="form-signin-heading">Please sign in</h2>
            <input class="input-block-level" id="username" name="username" type="text" placeholder="Username">
            <input class="input-block-level" type="password" name="password" id="password" placeholder="Password">
            <label class="checkbox">
              <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button type="submit" class="btn btn-large btn-primary">Login</button>
        </form>
    </div>
{% endblock %}
